<a href="https://colab.research.google.com/github/RPGraciotti/BootCampAlura/blob/main/Modulo_6/Aula_1_Contextualiza%C3%A7%C3%A3o_do_mercado_financeiro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sessão 1 - Contexto financeiro
Introdução:

Pilares da cadeia de crédito:

1. Prospecção
2. Concessão - Foco do módulo do BootCamp
3. Gestão de Risco 
4. Recuperação

Pedido de crédito:
Instituição financeira utiliza um modelo de decisão + política de crédito

Bytebank é o banco fictício que a Alura utiliza para ferramentas didáticas e será trabalhado durante o curso.
Streamlit é uma biblioteca python que é utilizada para hospedar o modelo e gera uma interface sem que seja necessário conhecimento de front-end.

Projeto final: Simulador de avaliação de crédito utilizando o streamlit.

Objetivo é derivado de um desafio do kaggle, traduzido e manipulado para utilização: https://www.kaggle.com/rikdifos/credit-card-approval-prediction

# Sessão 2 - Primeiros passos com a base

In [1]:
import pandas as pd

In [2]:
df_cadastrados = pd.read_csv("https://github.com/RPGraciotti/BootCampAlura/raw/main/Data/clientes_cadastrados.txt")
df_cadastrados

,ID_Cliente,Genero,Tem_Carro,Tem_Casa_Propria,Qtd_Filhos,Rendimento_Anual,Categoria_de_renda,Grau_Escolaridade,Estado_Civil,Moradia,Idade,Tem_Celular,Tem_telefone_trabalho,Tem_telefone_fixo,Tem_email,Ocupacao,Tamanho_Familia,Anos_empregado
0,5008804,H,1,1,0,427500.0,Empregado,Ensino superior,Uniao estavel,Alugado,33.0,1,1,0,0,Outros,2.0,12.4
1,5008805,H,1,1,0,427500.0,Empregado,Ensino superior,Uniao estavel,Alugado,33.0,1,1,0,0,Outros,2.0,12.4
2,5008806,H,1,1,0,112500.0,Empregado,Ensino medio,Casado,Casa propria,59.0,1,0,0,0,Seguranca,2.0,3.1
3,5008808,M,0,1,0,270000.0,Associado comercial,Ensino medio,Solteiro,Casa propria,52.0,1,0,1,1,Venda,1.0,8.4
4,5008809,M,0,1,0,270000.0,Associado comercial,Ensino medio,Solteiro,Casa propria,52.0,1,0,1,1,Venda,1.0,8.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438552,6840104,H,0,1,0,135000.0,Pensionista,Ensino medio,Separado,Casa propria,62.0,1,0,0,0,Outros,1.0,-1000.7
438553,6840222,M,0,0,0,103500.0,Empregado,Ensino medio,Solteiro,Casa propria,44.0,1,0,0,0,Construcao Civil,1.0,8.2
438554,6841878,M,0,0,0,54000.0,Associado comercial,Ensino superior,Solteiro,Mora com os pais,22.0,1,1,0,0,Venda,1.0,1.0
438555,6842765,M,0,1,0,72000.0,Pensionista,Ensino medio,Casado,Casa propria,59.0,1,0,0,0,Outros,2.0,-1000.7
438556,6842885,M,0,1,0,121500.0,Empregado,Ensino medio,Casado,Casa propria,52.0,1,0,1,0,Venda,2.0,3.3

In [3]:
df_cadastrados.shape
# numero de linhas, numero de colunas

(438557, 18)

In [4]:
df_cadastrados.head()

,ID_Cliente,Genero,Tem_Carro,Tem_Casa_Propria,Qtd_Filhos,Rendimento_Anual,Categoria_de_renda,Grau_Escolaridade,Estado_Civil,Moradia,Idade,Tem_Celular,Tem_telefone_trabalho,Tem_telefone_fixo,Tem_email,Ocupacao,Tamanho_Familia,Anos_empregado
0,5008804,H,1,1,0,427500.0,Empregado,Ensino superior,Uniao estavel,Alugado,33.0,1,1,0,0,Outros,2.0,12.4
1,5008805,H,1,1,0,427500.0,Empregado,Ensino superior,Uniao estavel,Alugado,33.0,1,1,0,0,Outros,2.0,12.4
2,5008806,H,1,1,0,112500.0,Empregado,Ensino medio,Casado,Casa propria,59.0,1,0,0,0,Seguranca,2.0,3.1
3,5008808,M,0,1,0,270000.0,Associado comercial,Ensino medio,Solteiro,Casa propria,52.0,1,0,1,1,Venda,1.0,8.4
4,5008809,M,0,1,0,270000.0,Associado comercial,Ensino medio,Solteiro,Casa propria,52.0,1,0,1,1,Venda,1.0,8.4

In [5]:
df_cadastrados.loc[:,"ID_Cliente"].value_counts().unique() # significa que só tem ids que aparecem 1 ou 2 vezes, ou seja, só tem com no máximo uma repetição
# tem menos ids do que linhas no dataframe, indicando que podemos ter ids repetidos

array([2, 1])

In [6]:
print(df_cadastrados.duplicated().sum()) # indica que existem 0 linhas totalmente duplicadas, ou seja, os erros são nas colunas
print(df_cadastrados.loc[:,"ID_Cliente"].duplicated(keep = False).sum()) # 94 ids que estão repetidos de alguma forma

0
94

In [7]:
df_cadastrados[df_cadastrados.loc[:,"ID_Cliente"].duplicated(keep = False)] # keep = True mantém só o primeiro id repetido, 
# usando keep = True mantemos todos os valores repetidos

,ID_Cliente,Genero,Tem_Carro,Tem_Casa_Propria,Qtd_Filhos,Rendimento_Anual,Categoria_de_renda,Grau_Escolaridade,Estado_Civil,Moradia,Idade,Tem_Celular,Tem_telefone_trabalho,Tem_telefone_fixo,Tem_email,Ocupacao,Tamanho_Familia,Anos_empregado
421211,7702516,M,0,1,2,180000.0,Empregado,Ensino medio,Casado,Casa propria,32.0,1,1,1,0,Venda,4.0,3.4
421268,7602432,H,0,1,0,315000.0,Associado comercial,Ensino superior,Uniao estavel,Casa propria,46.0,1,0,1,0,Motorista,2.0,3.6
421349,7602432,M,0,0,0,117000.0,Pensionista,Ensino superior,Casado,Casa propria,68.0,1,0,0,0,Outros,2.0,-1000.7
421464,7836971,H,1,0,1,157500.0,Empregado,Ensino medio,Casado,Casa propria,38.0,1,0,0,0,Outros,3.0,15.1
421698,7213374,H,1,0,0,148500.0,Empregado,Ensino medio,Casado,Casa propria,27.0,1,0,1,0,Construcao Civil,2.0,2.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433158,7282535,M,0,1,0,63000.0,Pensionista,Ensino medio,Casado,Casa propria,58.0,1,0,1,0,Outros,2.0,-1000.7
433159,7742853,H,0,1,0,157500.0,Empregado,Ensino medio,Solteiro,Casa propria,41.0,1,0,0,0,Construcao Civil,1.0,4.6
433217,7135270,M,0,1,0,216000.0,Pensionista,Ensino medio,Casado,Casa propria,63.0,1,0,0,0,Outros,2.0,-1000.7
433666,7091721,M,1,1,0,90000.0,Associado comercial,Ensino medio,Casado,Casa propria,39.0,1,0,0,0,Medicina,2.0,6.2
433789,7618285,M,0,1,0,157500.0,Empregado,Ensino medio,Solteiro,Casa propria,28.0,1,0,0,0,Construcao Civil,1.0,2.8

# Desafio 1: Explorar IDs repetidos (Atualização de cadastro? Erro?)

Exemplo do cliente 7602432: Tem duas entradas, a segunda entrada tem valores muito discrepantes, levando a crer ser um erro. Mas o mais interessante é a coluna "Anos_empregado" dando um valor de -1000. Isso certamente parece um erro de preenchimento. Atentar para verificar se isso se repete.

In [8]:
ids_repetidos = df_cadastrados[df_cadastrados.loc[:,"ID_Cliente"].duplicated(keep = False)].loc[:,"ID_Cliente"]

In [9]:
ids_repetidos

421211    7702516
421268    7602432
421349    7602432
421464    7836971
421698    7213374
           ...
433158    7282535
433159    7742853
433217    7135270
433666    7091721
433789    7618285
Name: ID_Cliente, Length: 94, dtype: int64

In [10]:
import matplotlib.pyplot as plt

In [11]:
df_cadastrados.iloc[ids_repetidos.index,].sort_values(by = ["ID_Cliente"]).head(20)

,ID_Cliente,Genero,Tem_Carro,Tem_Casa_Propria,Qtd_Filhos,Rendimento_Anual,Categoria_de_renda,Grau_Escolaridade,Estado_Civil,Moradia,Idade,Tem_Celular,Tem_telefone_trabalho,Tem_telefone_fixo,Tem_email,Ocupacao,Tamanho_Familia,Anos_empregado
426818,7022197,H,1,1,3,135000.0,Empregado,Ensino medio,Casado,Casa propria,33.0,1,0,0,1,Construcao Civil,5.0,2.0
425023,7022197,M,0,1,0,450000.0,Associado comercial,Ensino superior,Separado,Casa propria,54.0,1,0,0,1,Outros,1.0,4.9
431545,7022327,M,0,1,0,135000.0,Associado comercial,Ensino medio,Solteiro,Casa propria,40.0,1,0,0,0,Alta tecnologia,1.0,14.5
431911,7022327,H,1,1,0,256500.0,Associado comercial,Ensino superior,Casado,Casa propria,59.0,1,0,0,1,Equipe principal,2.0,4.6
425486,7023108,H,1,1,1,67500.0,Empregado,Ensino medio,Casado,Casa propria,42.0,1,1,0,0,Equipe principal,3.0,4.6
426488,7023108,M,0,0,0,135000.0,Empregado,Ensino medio,Casado,Casa propria,48.0,1,0,0,0,Limpeza,2.0,3.5
425306,7023651,M,0,0,0,225000.0,Associado comercial,Ensino superior incompleto,Solteiro,Casa propria,28.0,1,0,0,0,Contabilidade,1.0,3.3
421907,7023651,H,1,0,1,157500.0,Associado comercial,Ensino superior incompleto,Casado,Casa propria,29.0,1,0,0,0,Motorista,3.0,4.0
427778,7024111,H,0,0,2,157500.0,Associado comercial,Ensino medio,Uniao estavel,Casa propria,42.0,1,1,0,0,Motorista,4.0,0.3
432643,7024111,M,0,1,0,180000.0,Empregado,Ensino medio,Casado,Casa propria,60.0,1,1,1,0,Contabilidade,2.0,4.2
424708,7036518,M,0,1,0,360000.0,Empregado,Ensino superior,Casado,Casa propria,43.0,1,1,0,0,Equipe principal,2.0,5.4
429078,7036518,M,0,0,1,180000.0,Empregado,Ensino medio,Casado,Casa propria,38.0,1,0,0,0,Construcao Civil,3.0,7.2
427007,7045794,M,0,0,0,414000.0,Empregado,Ensino superior,Separado,Casa propria,57.0,1,0,0,0,Outros,1.0,4.0
428048,7045794,M,0,1,2,225000.0,Empregado,Ensino medio,Casado,Casa propria,40.0,1,0,1,0,Construcao Civil,4.0,1.4
432271,7045885,M,0,0,2,247500.0,Associado comercial,Ensino medio,Uniao estavel,Habitacao publica,40.0,1,1,1,0,Outros,4.0,4.4
426022,7045885,H,0,1,0,67500.0,Pensionista,Ensino medio,Casado,Casa propria,57.0,1,0,0,0,Outros,2.0,-1000.7
432134,7046068,M,0,1,0,112500.0,Empregado,Ensino medio,Solteiro,Alugado,33.0,1,0,0,0,Servico privado,1.0,7.6
424618,7046068,M,0,1,0,135000.0,Pensionista,Ensino medio,Casado,Casa propria,62.0,1,0,1,0,Outros,2.0,-1000.7
428171,7050948,M,0,0,0,135000.0,Associado comercial,Ensino superior,Casado,Casa propria,34.0,1,1,1,1,Equipe principal,2.0,11.0
430746,7050948,M,0,1,1,81000.0,Empregado,Ensino superior,Solteiro,Casa propria,38.0,1,0,0,0,Equipe principal,2.0,0.4

In [12]:
df_cadastrados_no_rep = df_cadastrados.drop(ids_repetidos.index)

In [13]:
print(df_cadastrados_no_rep.loc[:,"ID_Cliente"].value_counts()) # indica que agora o dataframe não tem repetição
print(df_cadastrados_no_rep.loc[:,"ID_Cliente"].value_counts().unique())

5008804    1
6147691    1
6147689    1
6147688    1
6147685    1
          ..
6093492    1
5690720    1
6538938    1
6538937    1
6842885    1
Name: ID_Cliente, Length: 438463, dtype: int64
[1]

In [14]:
df_cadastrados_no_rep.isnull().sum() # não tem dados nulos

ID_Cliente               0
Genero                   0
Tem_Carro                0
Tem_Casa_Propria         0
Qtd_Filhos               0
Rendimento_Anual         0
Categoria_de_renda       0
Grau_Escolaridade        0
Estado_Civil             0
Moradia                  0
Idade                    0
Tem_Celular              0
Tem_telefone_trabalho    0
Tem_telefone_fixo        0
Tem_email                0
Ocupacao                 0
Tamanho_Familia          0
Anos_empregado           0
dtype: int64

In [15]:
df_cadastrados_no_rep.info() # quais são os tipos de dados nas celulas

<class 'pandas.core.frame.DataFrame'>
Int64Index: 438463 entries, 0 to 438556
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID_Cliente             438463 non-null  int64
 1   Genero                 438463 non-null  object
 2   Tem_Carro              438463 non-null  int64
 3   Tem_Casa_Propria       438463 non-null  int64
 4   Qtd_Filhos             438463 non-null  int64
 5   Rendimento_Anual       438463 non-null  float64
 6   Categoria_de_renda     438463 non-null  object
 7   Grau_Escolaridade      438463 non-null  object
 8   Estado_Civil           438463 non-null  object
 9   Moradia                438463 non-null  object
 10  Idade                  438463 non-null  float64
 11  Tem_Celular            438463 non-null  int64
 12  Tem_telefone_trabalho  438463 non-null  int64
 13  Tem_telefone_fixo      438463 non-null  int64
 14  Tem_email              438463 non-null  int64
 15  Ocupacao               438463 non-null  object
 16  Tamanho_Familia        438463 non-null  float64
 17  Anos_empregado         438463 non-null  float64
dtypes: float64(4), int64(8), object(6)
memory usage: 63.6+ MB

In [16]:
df_cadastrados_no_rep.describe() # estatística básica

,ID_Cliente,Tem_Carro,Tem_Casa_Propria,Qtd_Filhos,Rendimento_Anual,Idade,Tem_Celular,Tem_telefone_trabalho,Tem_telefone_fixo,Tem_email,Tamanho_Familia,Anos_empregado
count,4.384630e+05,438463.000000,438463.000000,438463.000000,4.384630e+05,438463.000000,438463.0,438463.000000,438463.000000,438463.000000,438463.000000,438463.000000
mean,6.021894e+06,0.371906,0.693352,0.427384,1.875220e+05,43.834032,1.0,0.206129,0.287762,0.108196,2.194461,-165.936036
std,5.713554e+05,0.483314,0.461103,0.724879,1.100832e+05,11.472815,0.0,0.404525,0.452720,0.310628,0.897194,380.201131
min,5.008804e+06,0.000000,0.000000,0.000000,2.610000e+04,21.000000,1.0,0.000000,0.000000,0.000000,1.000000,-1000.700000
25%,5.609340e+06,0.000000,0.000000,0.000000,1.215000e+05,34.000000,1.0,0.000000,0.000000,0.000000,2.000000,1.000000
50%,6.047690e+06,0.000000,1.000000,0.000000,1.611000e+05,43.000000,1.0,0.000000,0.000000,0.000000,2.000000,4.000000
75%,6.454118e+06,1.000000,1.000000,1.000000,2.250000e+05,53.000000,1.0,0.000000,1.000000,0.000000,3.000000,8.500000
max,7.999952e+06,1.000000,1.000000,19.000000,6.750000e+06,69.000000,1.0,1.000000,1.000000,1.000000,20.000000,48.000000

O valor de -1000 "anos empregado" também aparece no conjunto sem os dados repetidos. Provavelmente lidaremos com esse erro de novo mais para frente. Comparando os padrões dos clientes com IDs repetidos, não é possível determinar qual a origem do erro: são identidades completamente diferentes mesmo, pessoas com estados civis diferentes e tamanho familiar diferente (uma hipótese é que fossem casais). A princípio não há como inferir a fonte do erro. A minha hipótese é de que um número de cadastro ficou inválido (a pessoa fechou a conta no banco, por exemplo) e utilizaram o mesmo ID para um novo cliente, sem remover os antigos da base. Dessa forma, não é possível determinar qual o cliente "novo" e o cliente "antigo".

# Desafio 2: Explorar as colunas (features), identificar contínuas, categóricas e binárias

In [17]:
df_cadastrados_no_rep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 438463 entries, 0 to 438556
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID_Cliente             438463 non-null  int64
 1   Genero                 438463 non-null  object
 2   Tem_Carro              438463 non-null  int64
 3   Tem_Casa_Propria       438463 non-null  int64
 4   Qtd_Filhos             438463 non-null  int64
 5   Rendimento_Anual       438463 non-null  float64
 6   Categoria_de_renda     438463 non-null  object
 7   Grau_Escolaridade      438463 non-null  object
 8   Estado_Civil           438463 non-null  object
 9   Moradia                438463 non-null  object
 10  Idade                  438463 non-null  float64
 11  Tem_Celular            438463 non-null  int64
 12  Tem_telefone_trabalho  438463 non-null  int64
 13  Tem_telefone_fixo      438463 non-null  int64
 14  Tem_email              438463 non-null  int64
 15  Ocupacao               438463 non-null  object
 16  Tamanho_Familia        438463 non-null  float64
 17  Anos_empregado         438463 non-null  float64
dtypes: float64(4), int64(8), object(6)
memory usage: 63.6+ MB

In [18]:
df_cadastrados_no_rep.describe()

,ID_Cliente,Tem_Carro,Tem_Casa_Propria,Qtd_Filhos,Rendimento_Anual,Idade,Tem_Celular,Tem_telefone_trabalho,Tem_telefone_fixo,Tem_email,Tamanho_Familia,Anos_empregado
count,4.384630e+05,438463.000000,438463.000000,438463.000000,4.384630e+05,438463.000000,438463.0,438463.000000,438463.000000,438463.000000,438463.000000,438463.000000
mean,6.021894e+06,0.371906,0.693352,0.427384,1.875220e+05,43.834032,1.0,0.206129,0.287762,0.108196,2.194461,-165.936036
std,5.713554e+05,0.483314,0.461103,0.724879,1.100832e+05,11.472815,0.0,0.404525,0.452720,0.310628,0.897194,380.201131
min,5.008804e+06,0.000000,0.000000,0.000000,2.610000e+04,21.000000,1.0,0.000000,0.000000,0.000000,1.000000,-1000.700000
25%,5.609340e+06,0.000000,0.000000,0.000000,1.215000e+05,34.000000,1.0,0.000000,0.000000,0.000000,2.000000,1.000000
50%,6.047690e+06,0.000000,1.000000,0.000000,1.611000e+05,43.000000,1.0,0.000000,0.000000,0.000000,2.000000,4.000000
75%,6.454118e+06,1.000000,1.000000,1.000000,2.250000e+05,53.000000,1.0,0.000000,1.000000,0.000000,3.000000,8.500000
max,7.999952e+06,1.000000,1.000000,19.000000,6.750000e+06,69.000000,1.0,1.000000,1.000000,1.000000,20.000000,48.000000

In [19]:
df_cadastrados_no_rep.head(2)

,ID_Cliente,Genero,Tem_Carro,Tem_Casa_Propria,Qtd_Filhos,Rendimento_Anual,Categoria_de_renda,Grau_Escolaridade,Estado_Civil,Moradia,Idade,Tem_Celular,Tem_telefone_trabalho,Tem_telefone_fixo,Tem_email,Ocupacao,Tamanho_Familia,Anos_empregado
0,5008804,H,1,1,0,427500.0,Empregado,Ensino superior,Uniao estavel,Alugado,33.0,1,1,0,0,Outros,2.0,12.4
1,5008805,H,1,1,0,427500.0,Empregado,Ensino superior,Uniao estavel,Alugado,33.0,1,1,0,0,Outros,2.0,12.4

Features contínuas: "Rendimento_Anual", "Idade", "Tamanho Família", "Anos empregado", "Quantidade de filhos".

Features categóricas: "Categoria de renda", "Grau escolaridade", "Estado civil", "Moradia", "Ocupação".

Features categóricas binárias: "Genero", "Tem carro", "Tem casa propria", "Tem celular", "Tem telefone trabalho", "Tem telefone fixo", "Tem email".

In [20]:
cont = ["Rendimento_Anual", "Idade", "Tamanho_Familia", "Anos_empregado", "Qtd_filhos"]
cat = ["Categoria_de_renda", "Grau_Escolaridade", "Estado_Civil", "Moradia", "Ocupacao"]
bin = ["Genero", "Tem_Carro", "Tem_Casa_Propria", "Tem_Celular", "Tem_telefone_trabalho", "Tem_telefone_fixo", "Tem_email"]